@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-heading md:text-5xl text-4xl leading-[40px] md:leading-[60px] font-bold mt-2;
  }

  .sub-heading {
    @apply text-text font-semibold leading-[14px] text-lg tracking-widest;
  }

  .gallary-effect {
    @apply hover:before:h-full before:z-10 hover:before:opacity-90 before:transition-[inherit] before:origin-top before:duration-[600ms] before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:w-full before:h-0 before:bg-primary before:opacity-55
  }

  .gallary-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    visibility: hidden;
    color: white;
    transition: all 800 ease-in-out;
    cursor: pointer;
    font-size: 0px;
  }

  .gallary-icon:hover {

    color: black;
  }

  .gallary-effect:hover .gallary-icon {
    font-size: 30px;
    visibility: visible;
    transition: all 1s;
  }

  .text {
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.4px;
    @apply text-text
  }

  .overflowHide {
    @apply overflow-hidden;

  }

  .overflow-text {
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }


  /* Animation for background color */
  @keyframes fillBackground {
    0% {
      background-color: black;
      /* Start color */
      height: 0rem;
    }

    100% {
      background-color: #ffffff;
      /* End color */
      height: 2.5rem;
    }
  }

  .background {
    animation: fillBackground 1s ease-in-out forwards;
    /* Adjust duration and timing function */
  }


  /* Animation for menu bar */
  @keyframes menuBar {
    0% {
      width: 0%;
    }

    100% {

      width: 60%;
    }
  }

  .navanimate {
    animation: menuBar 0.5s ease-in-out forwards;
    /* Adjust duration and timing function */
  }

  /* animation for slider text */
  @keyframes textAnimate {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .textAnimate {
    animation: textAnimate 700ms linear;
  }

  /* animation for slider button */
  @keyframes buttonAnimate {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .buttonAnimate {
    animation: buttonAnimate 700ms linear;
  }

  /* animation for background img */
  @keyframes backgroundAnimate {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(50px);
    }
  }

  .backgroundAnimate {
    animation: backgroundAnimate 7s ease-in-out infinite alternate;
  }

  /* animation for serviceCard */
  @keyframes serviceCardAnimate {
    0% {
      top: 50%;
      bottom: 0;
      right: 0;
      left: 50%;
      visibility: hidden;
      transform: translate(-50%, -50%) scale(0);
    }

    100% {
      top: 50%;
      bottom: 0;
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      visibility: visible;
    }
  }

  .serviceCardAnimate {
    animation: serviceCardAnimate 1s ease-in-out forwards;
  }
}

.slick-slide>div {
  margin: 0 10px;
}