@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-heading text-5xl leading-[60px] font-bold mt-2;
  }

  .sub-heading {
    @apply text-text font-semibold leading-[14px] text-lg tracking-widest;
  }

  .text {
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.4px;
    @apply text-text
  }

  .overflowHide {
    @apply overflow-hidden;

  }
  .overflow-text{
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }


  /* Animation for background color */
  @keyframes fillBackground {
    0% {
      background-color: black;
      /* Start color */
      height: 0rem;
    }

    100% {
      background-color: #ffffff;
      /* End color */
      height: 2.5rem;
    }
  }

  .background {
    animation: fillBackground 1s ease-in-out forwards;
    /* Adjust duration and timing function */
  }


  /* Animation for menu bar */
  @keyframes menuBar {
    0% {
      width: 0%;
    }

    100% {

      width: 60%;
    }
  }

  .navanimate {
    animation: menuBar 0.5s ease-in-out forwards;
    /* Adjust duration and timing function */
  }

  /* animation for slider text */
  @keyframes textAnimate {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .textAnimate {
    animation: textAnimate 700ms linear;
  }

  /* animation for slider button */
  @keyframes buttonAnimate {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .buttonAnimate {
    animation: buttonAnimate 700ms linear;
  }

/* animation for background img */
@keyframes backgroundAnimate {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(50px);
  }
}
.backgroundAnimate{
  animation: backgroundAnimate 7s ease-in-out infinite alternate;
}

/* animation for serviceCard */
@keyframes serviceCardAnimate {
  0%{
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
    visibility: hidden;
    transform: translate(-50% , -50%) scale(0);
  }
  100%{
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
   transform: translate(-50% , -50%) scale(1);
   visibility: visible;
  }
}
.serviceCardAnimate{
  animation: serviceCardAnimate 1s ease-in-out forwards ;
}
}

.slick-slide > div {
  margin: 0 10px;
}
